
/* styles.css */
/* Set height of body and the document to 100% to enable "full page tabs" */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
	background-color: grey;
  font-family: Arial;
}

.header {
	display: flex;
	align-items: center;
	//flex: 1 100%;
  flex-wrap: wrap;
	//flex-direction:row;
                
	background-color: rgb(251,238,159);
}

.header h2 {
	font-family: "Luminari";
}

.title {
	//display: flex;
	//align-items: center;
  //flex-wrap: wrap;
	//width: 100%;
	//max-width: 1000px;
	//min-height: 100px;
	//margin: 0px;
	//margin-left: 0.5em;
	//padding: 0px;
	background-color: rgb(251,238,159);
	padding: 12px;
}

@media screen and (min-width:1000px) {
}

/* Style tab links */
.tablink {
  background-color: #777;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
	font-weight: bold;
  width: 12.5%;
}

.tablink:hover {
  transform: scale(1.1);
	// not sure which, apparently filter is the future, but box
	// shadow does not blur the text?
	// The effect also slightly different as it adds a transparent white
	// overlay, instead of increasing brightness
	//filter: brightness(110%);
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  background-color: #333333;
  display: none;
  padding: 60px 20px;
  height: 100%;
  height: 1000%;
}

.Main,#Main {background-color: #333;    color: #fff;}
//.G1,#G1     {background-color: #d4b2d8; color: #333; --tab-bg: red}
.G1,#G1     {background-color: #d4b2d8; color: #333;}
.G2,#G2     {background-color: #577590; color: #fff;}
.G3,#G3     {background-color: #f9844a; color: #fff;}
.G4,#G4     {background-color: #90be6d; color: #fff;}
.G5,#G5     {background-color: #f9c74f; color: #333;}
.G6,#G6     {background-color: #66d9ff; color: #333;}
.Club,#Club {background-color: #559;    color: #fff;}

.card-container {
  padding: 12px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 8px;
}

.card {
	/* border: 1px solid #ccc; */
	/* background-color: rgb(251,238,229); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  //border-radius: 0 0 10px 10px;
	//background-color: #f0f0f0;
	//background-color: white;
	text-align: center;
	display: grid;
  //transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	padding: 12px;
	align-items: center;
	backdrop-filter: blur(14px);
	background-color: rgba(255, 255, 255, 0.2);
	position: relative; // required for whole-card click, :before
}

/* Whole card click */
.card a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.card:hover {
  //box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.card-image img {
	//padding: 20px;
	max-width: 90%;
	max-height:160px;
	width: auto;
	height: auto;
}

.card-details {
	//background-color: rgb(251,238,229);
	font-size: 22pt;
	margin-top: auto;
	width:100%;
}
